## STEP 0. 라이브러리 불러오기

In [12]:
import tensorflow as tf
import tensorflow_datasets as tfds
import pandas as pd
import os
import re
import urllib
import numpy as np
import matplotlib.pyplot as plt
import time

In [4]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

## STEP 1. 데이터 수집하기

---
송영숙님이 공개한 한국어 챗봇데이터를 사용하여 만들어봅니다.

- [송영숙님 github](https://github.com/songys/Chatbot_data)

In [8]:
# 바로 다운로드하기
urllib.request.urlretrieve("https://raw.githubusercontent.com/songys/Chatbot_data/master/ChatbotData.csv", filename="ChatbotData.csv")

('ChatbotData.csv', <http.client.HTTPMessage at 0x7fa8482530d0>)

In [11]:
data = pd.read_csv('ChatbotData.csv')

In [17]:
print('data 모양 : ', data.shape)
print('data 갯수 : ', len(data))
data.head()

data 모양 :  (11823, 1)
data 갯수 :  11823

                       Q,A,label
0            12시 땡!,하루가 또 가네요.,0
1        1지망 학교 떨어졌어,위로해 드립니다.,0
2     3박4일 놀러가고 싶다,여행은 언제나 좋죠.,0
3  3박4일 정도 놀러가고 싶다,여행은 언제나 좋죠.,0
4           PPL 심하네,눈살이 찌푸려지죠.,0

총 1182개로 이뤄져 있으며, Q-A-label로 이뤄져 있네요!  

하지만 불길하게도... 
우선 토큰화 하기전에 중복값 확인, len분포 등을 봐줍니다.

In [23]:
data.colunm()

AttributeError: ignored

In [20]:
data.value_counts['label']()

TypeError: ignored